.header {
    background-color: darkmagenta;
    margin: 0;
    padding: 1em 2em 5em;
    color: antiquewhite;
    text-align: center;
    clip-path: polygon(100% 0, 100% 64%, 0 100%, 10% 46%, 0 0);
    font-size: 20px;
}

.header h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}

.header h3 {
    margin-bottom: 5px;
}

.header p {
    margin-top: 5px;
}